@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --blue: #2c4bff; /* Example brand color for blue */
  --pink: #ff2bc2; /* Example brand color for pink */
  --green: #4aff2b; /* Example brand color for green */
  /* Add more brand colors as needed */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
